Source: kwplayer
Section: gnome
Priority: optional
Maintainer: Liu Lang <gsushzhsosgsu@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all
Standards-Version: 3.9.6
Homepage: https://github.com/LiuLang/kwplayer
#Vcs-Git: git://anonscm.debian.org/collab-maint/kwplayer.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/kwplayer.git;a=summary

Package: kwplayer
Architecture: all
Depends: python3 (>= 3.2),
         ${shlibs:Depends},
         ${misc:Depends},
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         gir1.2-gstreamer-1.0 | gir1.2-gstreamer-0.10,
         gir1.2-gst-plugins-base-1.0 | gir1.2-gst-plugins-base-0.10,
         gstreamer1.0-libav | gstreamer0.10-ffmpeg,
         gstreamer1.0-plugins-base | gstreamer0.10-plugins-base,
         gstreamer1.0-plugins-good | gstreamer0.10-plugins-good,
         gstreamer1.0-plugins-bad | gstreamer0.10-plugins-bad,
         gstreamer1.0-plugins-ugly | gstreamer0.10-plugins-ugly,
         gnome-icon-theme-symbolic,
         libnotify4,
         notification-daemon,
         python3-cairo,
         python3-dbus,
         python3-gi,
         python3-gi-cairo,
         python3-html2text,
         python3-ply
Recommends: python3-leveldb, python3-mutagen
Description: Music player for Linux users
 Rewrite of kuwo player, a popup music player on Windows platform.
 It provides high quality music resources from kuwo.cn.
